* {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f3;
}

h1 {
  margin: 0;
  padding: 0;
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  color: black;
  box-shadow: 
    13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;

  input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    background: #ebf5fc;
    box-shadow: 
      inset -5px -5px 15px rgba(255, 255, 255, 0.8),
      inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  }

  button {
    display: block;
    width: 100%;
    padding: 0.875rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.875rem;
    font-weight: bold;
    color: #ffffff;

    background-color: #bcd8c1;
    box-shadow: 
      3px 3px 8px #b1b1b1,
      -3px -3px 8px #ffffff;

    &:hover {
      background-color: darken(#bcd8c1, 5%);
    }

    &:active {
      box-shadow: 
        inset 3px 3px 6px #b1b1b1,
        inset -3px -3px 6px #ffffff;
    }
  }
}
